@page
@model LolTrack.Pages.CRUDSSpells.GetAllSSpellsModel
@{
}

<body>
    <h1>Hej med dig</h1>
    <h2>22222</h2>
    <h3>22222</h3>
    <h1>Hej med dig</h1>
    <h2>22222</h2>
    <h3>22222</h3>
    <h1>Hej med dig</h1>
    <h2>22222</h2>
    <h3>22222</h3>
    @if (Model.sspells != null)
    {
        <div class="row">
            @foreach (var ss in Model.sspells)
            {
                <div class="column4 spell-column">
                    <div class="card">
                        <img src="/Images/@ss.SSpellSplash" alt="Spell Image" class="card-img" />
                        <div class="card-body">
                            <h5 class="card-title">@ss.SpellType</h5>
                            <p class="card-text">@ss.SpellDesc</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</body>