@page
@model LolTrack.Pages.CRUDSSpells.GetAllSSpellsModel
@{
}
<body>
@if (Model.sspells != null)
{
        <div class="row">
            @foreach (var ss in Model.sspells)
            {
                <div class="column">
                        <div class="column">
                            <div class="flip-card" style="padding:20px">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <img src="/Images/@ss.SSpellSplash" style="width: 100%">
                                    </div>
                                    <div class="flip-card-back">
                                        <h1>@ss.SpellType</h1>
                                        <p>@ss.SpellDesc</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            }
        </div>


}
</body>
<style>
    .column {
        -ms-flex: 33.33%;
        flex: 33.33%;
        padding: 0 4px;
    }

        .column img {
            margin-top: 8px;
            vertical-align: middle;
        }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .flip-card {
        background-color: transparent;
        width: 300px;
        height: 300px;
        perspective: 1000px;
    }

    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }

    .flip-card-front {
        position: absolute;
        width: 100%;
        height: 100%;
        -webtkit-backface-visibility: hidden;
        backface-visibility: hidden;
        background-color: transparent;
        color: black;
    }

    .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webtkit-backface-visibility: hidden;
        backface-visibility: hidden;
        background-color: black;
        opacity: 60%;
        color: #efdc9e;
        transform: rotateY(180deg);
    }

    .bg-text2 {
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.4);
        color: #efdc9e;
        font-weight: bold;
        border: 3px solid #f1f1f1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 500px;
        height: 500px;
        padding: 20px;
        text-align: center;
    }
</style>