@page
@model LolTrack.Pages.CRUDSSpells.GetAllSSpellsModel
@{
}
<body>
@if (Model.sspells != null)
{
        <div class="row">
            @foreach (var ss in Model.sspells)
            {
                <div class="column">
                        <div class="column">
                            <div class="flip-card" style="padding:20px">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <img src="/Images/@ss.SSpellSplash" style="width: 100%">
                                    </div>
                                    <div class="flip-card-back">
                                        <h1>@ss.SpellType</h1>
                                        <p>@ss.SpellDesc</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            }
        </div>
}
</body>
<style>

</style>