/*body {
    background-image: url("Images/SummonersRift4K-Index.jpeg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}*/

body {
    height: 1500px;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
}

footer {
    position: absolute;
    background: linear-gradient(#486144ff, #374f44ff);
    bottom: 0;
    padding-bottom: -20px;
    width: 100%;
}
.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.footer-section {
    flex: 1 1 20%; /* Flex-grow, flex-shrink, flex-basis */
    min-width: 150px; /* Ensures sections don't get too narrow */
    margin: 10px 0;
}

    .footer-section h4 {
        margin-bottom: 10px;
        font-size: 16px;
        color: #efdc9e; /* Adjust as needed */
    }

    .footer-section ul {
        list-style: none;
        padding: 0;
    }

        .footer-section ul li {
            margin-bottom: 5px;
        }

            .footer-section ul li a {
                text-decoration: none;
                color: #efdc9e; /* Adjust as needed */
                font-size: 14px;
            }

                .footer-section ul li a:hover {
                    text-decoration: underline;
                }

.footer-bottom {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #ccc;
    margin-top: 20px;
}

    .footer-bottom p {
        margin: 0;
        font-size: 14px;
        color: #efdc9e; /* Adjust as needed */
    }

    .footer-bottom a {
        color: #efdc9e; /* Adjust as needed */
        text-decoration: none;
    }

        .footer-bottom a:hover {
            text-decoration: underline;
        }

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
.pButton {
    border: none;
    background: none;
    padding: 0;
    height: 50px;
    width: 1px;
}

    .pButton:focus {
        outline: none
    }

.splashcontainer {
    position: relative;
    width: auto;
    margin: 10px;
    margin-bottom: 30px;
    border: 5px ridge #efdc9e;
    text-align: center;
    color: #efdc9e;
}

.splash {
    opacity: 1;
    display: block;
    width: auto;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.splashmiddle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.splashcontainer:hover .splash {
    opacity: 0.3;
}

.splashcontainer:hover .splashmiddle {
    opacity: 1;
}

.splashtext {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.bg-image-blur {
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.bg-text {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: #efdc9e;
    font-weight: bold;
    border: 3px solid #efdc9e;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.bgsplash {
/*    background-image: url("/Images/@Model.champion.ChampSplash");*/
    background-image: url("/Images/SummonersRift4K-Index.jpeg");
    min-height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: relative;
}

.ínfocont{
    position: absolute;
    right: 0;
    margin: 20px;
    max-width:300px;
    padding: 16px;
    background-color: #374f44ff;
}
.infotext{
    background-color: none;
    color: #efdc9e;
    font-weight: bold;
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
}
.backbtn {
    position: relative;
    background: linear-gradient(#28b2c1, #0c7e97);
    border: 3px groove #efdc9e;
    border-radius: 10px;
    font-size: 20px;
    color: #efdc9e;
    padding: 10px;
    width: auto;
    height: auto;
    text-align: center;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}
    .backbtn:after {
        content: "";
        background: linear-gradient(#28b2c1, #0c7e97);
        display: block;
        position: absolute;
        padding-top: 300%;
        padding-left: 350%;
        margin-left: -20px !important;
        margin-top: -120%;
        opacity: 0;
        transition: all 0.8s
    }
.backbtn:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
.custom-navbar {
    /*background-color: #1e2d24ff;*/
    background: linear-gradient(#0c7e97, #28b2c1);
}
.nav-link {
    margin-right: 30px; 
    border: none !important; 
     
}
/*.navbar-nav.ml-auto {
    margin-left: auto !important; 
}*/

/*.navbar-nav {
    margin-left: auto; 
    margin-right: auto;
    display: flex;
    justify-content: center; 
}*/



.navbar-nav .nav-link {
    color: transparent;
    background: linear-gradient(#c6ac70, #efdc9e);
    -webkit-background-clip: text;
    background-clip: text;

}

/* Navbar links */ 
.navbar-nav .nav-item .nav-link,
.navbar-brand {
    color: transparent !important; 
    background: linear-gradient(#c6ac70, #efdc9e);
    -webkit-background-clip: text;
    background-clip: text; 
    font-size: 17px; 
}

/*.navbar-nav  {
    flex-grow: 0; 
    display: flex; 
    justify-content: flex-end; 
}*/

.nav-item {
    font-family: monospace;   
}
    
.navbar-nav .nav-item .nav-link.active {
        color: transparent !important; 
        background: linear-gradient(#c6ac70, #efdc9e);
        -webkit-background-clip: text;
        background-clip: text;
}

.navbar-nav .nav-item .nav-link:hover,
.navbar-brand:hover {
        color: ghostwhite !important;
}

.LolLogo {
    position: absolute;
    left: 50%;
    top: 100px; /* Adjust this value to move the logo up or down */
    transform: translateX(-50%);
    height: 200px;
    width: 200px;
}

.login-button {
    padding: 10px 20px;
    background-color: #486144;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    top: 265px;
    left: 149px;
}
.search-container {
    position: relative; 
    text-align: center;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    top: 300px; 
    
}

.search-form {
    top: 200px;
    display: flex;
    align-items: center;
    border: 1px solid #ccc; /* Border around the input and button */
    border-radius: 5px; /* Rounded corners */
    overflow: hidden; /* Ensures the rounded corners are applied */
}

.search-bar {
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
    width: 300px; 
}

.search-button {
    background: linear-gradient(#28b2c1, #0c7e97); /* Green background */
    color: white; /* White text */
    border: none; /* Remove borders */
    cursor: pointer; /* Pointer/hand icon */
    padding: 10px; /* Some padding */
    font-size: 16px; /* Set a font size */
}

    .search-button i {
        font-size: 16px; /* Adjust icon size if needed */
    }

    .search-button:hover {
        background-color: #45a049; /* Darker green */
    }

#UserName, #Password {
    background-image: linear-gradient(#c6ac70, #efdc9e); /* Gradient background */
    color: #486144; /* Adjusting text color for better visibility */
    border: 2px solid #8a795d; /* Optional: sets a contrasting border color */ /* Adds some padding inside the input fields */
    border-radius: 4px; /* Optional: rounds the corners of the input fields */
    width: 100%; /* Ensures input fields take full width of the form-box */
    padding: 5px;
    margin-top: 1px;
    border-radius: 5px;
    opacity: 100%;
    border: 1px solid #ccc;
}
label[for='UserName'], label[for='Password'] {
    font-size: 19px;
    font-family: Arial,Helvetica, sans-serif;
    background: linear-gradient(to right, #28b2c1, #0c7e97);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.form-box {
    background-color: rgba(0, 0, 0, 0.7); 
    border: 6px solid #c6ac70;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 2px;
    max-width: 2000px !important; /* This limits the maximum width */
    width: 350px !important; /* This should be the full width of its container up to 300px */
    margin: 60px auto; /* This centers the box horizontally */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the children horizontally */
}


.forgot-password {
    margin-top: 25px; /* Space between button and link */
    color: #efdc9e;
    text-decoration: none;
}



.login-button {
    width: 20%; /* Adjusted to take full width of its container */
    padding: 10px;
    background: linear-gradient(to right, #28b2c1, #0c7e97);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 200px; /* Adjusted for consistency */
    flex-direction: column;
    top: 220px;
    left: 555px;
}

    .login-button:hover {
        background-color: #364e36;
    }

.column3 {
    -ms-flex: 33.33%;
    flex: 33.33%;
    padding: 0 4px;
}
.column1 {
    -ms-flex: 100%;
    flex: 100%;
    padding: 0 4px;
}
.column4 {
    -ms-flex: 25%;
    flex: 25%;
    padding: 0 4px; 
}
.column2 {
    -ms-flex: 50%;
    flex: 50%;
    padding: 0 4px;
}

    .column img {
        margin-top: 8px;
        vertical-align: middle;
    }

.row:after {
    content: "";
    display: table;
    clear: both;
}

.flip-card {
    background-color: transparent;
    width: 200px;
    height: 200px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front {
    position: absolute;
    width: 100%;
    height: 100%;
    -webtkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: transparent;
    color: black;
}

.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webtkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: black;
    opacity: 60%;
    color: #efdc9e;
    transform: rotateY(180deg);
}

.kasse{

}

.navbar-nav.me-auto {
    margin-left: 20px; /* Adjust this value as needed */
}

.me-auto {
    margin-left: 100; 
    padding-left: 200; 
}

/*.navbar-nav .ms-auto {
    margin-right: 100; 
    padding-right: 0;  
}
*/

.row {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping to multiple lines */
    justify-content: center; /* Center the cards horizontally */
    align-items: flex-start; /* Align the cards to the top */
    margin: 0px; /* Negative margin to counteract the padding on columns */
}
}
.card-img {
    width: 100%; /* Ensures the image covers the card width */
    height: auto; /* Auto height to maintain aspect ratio */
    object-fit: cover; /* Ensures the image covers the area nicely */
}
.card-body {
    padding: 10px 16px;
}
.card-title {
    font-size: 20px; /* Large text for the title */
    color: #28b2c1; /* Dark grey color for text */
}
.card-text {
    color: #efdc9e; /* Slightly lighter text for the description */
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.column4.spell-column {
    flex: 1 1 calc(25% - 20px); /* Adjust the percentage to control the number of columns */
    box-sizing: border-box;
    padding: 10px;
    max-width: calc(25% - 20px);
}

.square1 {
    position: relative; 
    top: 900px; 
    left: 20px; 
    height: 500px;
    width: 505px;
    background: linear-gradient(#486144ff, #374f44ff);
}

.Ad1 {
    position: absolute;
    left: 1150px;
    top: 85px; /* Adjust this value to move the logo up or down */
    /*transform: translateX(-50%);*/
    height: 800px;
    width: 200px;
}
.Ad2 {
    position: absolute; 
    left: 20px; 
    top: 85px; 
    height: 800px; 
    width: 200px; 
}
.Ad3 {
    position: absolute;
    top: 2535px; /* Moves the element down 1000px from the top of the container */
    height: 200px;
    width: 60%; /* Ensures the width is 50% of the container */
    left: 0;
    right: 0; /* Centers the element horizontally */
    margin-left: auto;
    margin-right: auto;
}

.standard-page {
    height: 1000px; /* Define the standard height */
}


