@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<body>

    <div class="search-container">
        <form action="/search" method="GET">
            <input type="text" name="q" placeholder="Search..." class="search-bar">
            <button type="submit" class="search-button">Search</button>
        </form>
    </div>

</body>






<p>
<style>
    body {
        background-image: url('Images/SummonersRift4K-Index.jpeg');
        background-position: center top; 
        background-size: 100% auto; 
    }
</style>
</p>