@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<body>

    


    <div class="search-container">
        <form action="/Search">
            <input type="text" name="q" placeholder="Search..." class="search-bar">
            <button type="submit" class="search-button">Search</button>
        </form>
    </div>
    <li class="nav-item">
        <a class="nav-link text-white" asp-area="" asp-page="CRUDSSpells/GetallSSpells">Summoner Spells</a>
    </li>
</body>






