@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"></h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<button>
    <img src="Images/MyProfileIconTrans.png" alt="button image"
</button>



<a class="pButton" type="button" title="MyProfile" asp-page="/Pages/CRUDChamp/GetAllChamps"></a>






<p>
<style>
    body {
        background-image: url('Images/SummonersRift4K-Index.jpeg');
        background-position: center top; 
        background-size: 100% auto; 
    }
</style>
</p>