@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<body>

    <img src="/Images/LolTrackLogo.png" alt="Logo" style="position: absolute; left: 580px; top: 100px; height: 200px; width: 200px; " />


    <div class="search-container">
        <form action="/Search">
            <input type="text" name="q" placeholder="Search..." class="search-bar">
            <button type="submit" class="search-button">Search</button>
        </form>
    </div>
    
</body>






