@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    .bodyIndex {
        height: 3000px;
        position: relative;
        margin: 0;
        padding: 0;
        width: 100%;
    }
</style>



<body class="bodyIndex">

    <header>
        <img src="/Images/LolTrackLogo.png" alt="Logo" class="LolLogo" />
    </header>

    <main>
        <div class="search-container">
            <form method="post" class="search-form">
                <div class="input-group mb-3">
                <input asp-for="SearchStr" class="search-bar">
                <input type="submit" asp-page-handler="PlayerSearch" value="Search" class="backbtn" />
                    @foreach(var p in Model.PlayerList)
                    {
                        if(p.PlayerName == Model.SearchStr)
                        {
                            <a class="backbtn" type="button" asp-page="CRUDPlayer/PlayerProfile" asp-route-id="@p.PlayerID">Go to Player</a>
                        }
                    }
                    @*                 <button type="submit" class="search-button">
                    <i class="fas fa-search"></i>
                </button> *@
                </div>
            </form>
        </div>

        <img src="/Images/Ad1banner.jpeg" alt="Ad-1" class="Ad1" />
        <img src="/Images//Ad2banner.jpeg" alt="Ad-2" class="Ad2" />
        <img src="/Images/LolAdbanner.jpeg" alt="Ad-3" class="Ad3" />

        <div class="square1"></div>
        <div class="square2"></div>
    </main>

    
</body>






