@page
@model LolTrack.Pages.CRUDChamp.ChampDetailModel
@{
}

<div class="bg-image-blur">
    <div class="bgsplash"></div>
</div>
<div class="bg-text">
    <h1>@Model.champion.ChampName</h1>
    <p>@Model.champion.Difficulty</p>
    <b>@Model.champion.Ability</b>
    <p>@Model.champion.ChampDesc</p>
    <a class="backbtn" type="button" title="back" asp-page="GetAllChamps">Go Back</a>
</div>
</div>
