@page
@model LolTrack.Pages.CRUDChamp.ChampDetailModel
@{
}
<div class="card" style="width: 18rem">
    <div class="card-body">
        <img  src="/Images/@Model.champion.ChampSplash" class="card-img-top" alt="..." />
        <h5 class="card-title">Card Title</h5>
        <p class="card-text">Picture of Item</p>
    </div>
</div>