@page
@model LolTrack.Pages.CRUDChamp.ChampDetailModel
@{
}

<head>

</head>
<body class="bodyIndex">
    <div class="detailcontainer">
                @foreach (var abi in Model.Abilities) 
                {
                    <div class="row-6">
                    <div class="col-4" style="margin-top: 30px; margin-bottom:30px">
                    @if (abi.AbiChampID == Model.champion.ChampionID)
                    {
                    
                        <strong style="color: #efdc9e">@abi.AbilityName</strong>
                        <div>
                            <img src="/Images/@abi.AbilitySplash" class="abiSplash" style="width: 75px; height: 75px;" />
                        </div>
                        <i style="color: #efdc9e">@abi.AbilityDesc</i>
                   
                    }
                    </div>
                    </div>
                }
    </div>
            <h1 style="position:relative; bottom:1100px; left: 750px; color: #efdc9e;">@Model.champion.ChampName</h1>
            <img src="/Images/@Model.champion.ChampSplash" class="splashcontainer" style="width: 50%; height: auto; bottom:1100px; left: 500px;"</>
            <div style ="position: relative; bottom: 1110px; left: 760px;">
            <a class="backbtn" type="button" title="back" asp-page="GetAllChamps">Go Back</a>
            </div>
                

</body>
<style>
    .bodyIndex {
        height: 1800px !important;
        position: relative;
        margin: 0;
        padding: 0;
        width: 100%;
    }
</style>
