@page
@model LolTrack.Pages.CRUDChamp.ChampDetailModel
@{
}

<head class="bg-image-blur">

</head>
<body>
    <div class="detailcontainer">
        <div class="detailblock">
                @foreach (var abi in Model.Abilities) 
                {
                    <div class="row-6">
                    <div class="col-4" style="margin-bottom: 30px;">
                    @if (abi.AbiChampID == Model.champion.ChampionID)
                    {
                    
                        <strong>@abi.AbilityName</strong>
                        <div>
                            <img src="/Images/@abi.AbilitySplash" class="abiSplash" style="width: 75px; height: 75px;" />
                        </div>
                        <i>@abi.AbilityDesc</i>
                   
                    }
                    </div>
                    </div>
                }
            <h1 style="position:relative; bottom:1100px; left: 750px;">@Model.champion.ChampName</h1>
            <img src="/Images/@Model.champion.ChampSplash" class="splashcontainer" style="width: 50%; height: auto; bottom:1100px; left: 500px;"</>
            <div style ="position: relative; bottom: 1110px; left: 760px;">
            <a class="backbtn" type="button" title="back" asp-page="GetAllChamps">Go Back</a>
            </div>
                
        </div>
    </div>
</body>

<style>
    .detailcontainer{
        position: relative;
        margin-top: 50px;
    }
    .detailcol{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .detailblock{
        position: absolute;
        width: auto;
        height: 1200px;
        background: linear-gradient(#486144ff, #374f44ff, #1e2d24ff);
        border: 5px ridge #efdc9e;
        color: #c6ac70;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .abiSplash{
        position: relative;
        width: 100%;
        margin: 10px;
        margin-bottom: 10px;
        border: 5px ridge #efdc9e;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .top-left{
        position: absolute;
        top: 8px;
        left: 16;
    }

</style>