@page
@model LolTrack.Pages.CRUDChamp.GetAllChampsModel
@{
}

<h1>Champions</h1>
<div class="row">
    <div class="col-7"><h5>Search</h5></div>
</div>

<div class="row">
    <div class="col-4">
        <form method="post" class="form-inline">
            <div class="input-group mb-3">
                <input asp-for="Search" class="form-control mr-1" placeholder="Enter Search"/>
                <input type="submit" asp-page-handler="ChampSearch" value="Search" class="btn btn-primary"/>
            </div>
        </form>
    </div>
    <div class="col-3"></div>
</div>
<a data-toggle="tooltip" title="Sort By Name" asp-page-handler="SortByName"><i class="fa fa-angle-up"></i></a>
<a data-toggle="tooltip" title="Sort By Name Descending" asp-page-handler="SortByNameDescending"><i class="fade fa-angle-down"></i></a>
@if (Model.Champions != null)
{
    foreach (var champ in Model.Champions)
    {
        <div class="card" style="width: 25rem">
            <img src="/Images/@champ.ChampSplash" alt="Avatar" style="width: auto 100%">
            <div class="container">
                <h4><b>@champ.ChampName</b></h4>
            </div>
            <a class="btn btn-primary btn sm" type="button" title="Detail" asp-page="ChampDetail" asp-route-id="@champ.ChampionID"><i class="fa fa-info"></i></a>
        </div>
        @* <a class="btn btn-primary btn-sm" type="button" title="Edit" asp-page="EditChamp" asp-route-id="@champ.ChampionID"><i class="fade fa-edit"></i></a> *@
        <a class="btn btn-primary btn sm" type="button" title="Detail" asp-page="ChampDetail" asp-route-id="@champ.ChampionID"><i class="fa fa-info"></i></a>
    }
}
<p>
    <a class="btn btn-primary" asp-page="CreateChamp"> Create Champion </a>
</p>